<h1>SMS Notification History</h1>

<table class="sms-notifications">
  <thead>
    <tr>
      <th>Recipient Phone Number</th>
      <th>Message</th>
      <th>Status</th>
      <th>Sent At</th>
    </tr>
  </thead>
  <tbody>
    <% @sms_notifications.each do |notification| %>
      <tr>
        <td><%= notification.recipient_phone_number %></td>
        <td><%= notification.message %></td>
        <td><%= notification.status %></td>
        <td><%= notification.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>